/* Step-3 You can assign padding to all sides of a container by using the padding property. */

.content-mid {
 padding: 80px
}

.content-mid-header {
  background: #444;
  height: 70px;
  width: 100%;
}

.content-container {
  width: 100%;
  height: 500px;
}

.content {
  background: #D8D8D8;
  padding: 20px;
  width: 100%;
  text-align: center;
}
